<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                {{column.displayName || (column.key | titlecase)}}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of currentData">
            <td *ngFor="let column of columns; let index = index; let last = last">
                <a *ngIf="index === 0 "
                    [routerLink]="[type, item.id]">{{item[column.key]}}</a>
                <span *ngIf="index > 0" >{{item[column.key]}}</span>
            </td>
        </tr>
    </tbody>

    <tfoot *ngIf="paginate">
        <tr>
            <td [attr.colspan]="columns.length">
                <pagination
                    [size]="paginate"
                    [data]="data"
                    [(currentData)]="currentData"
                    [bandfilter]="bandfilter" >
                </pagination>
            </td>
        </tr>
    </tfoot>
</table>
<!-- <pre>{{data | async | json}}</pre> -->
