<div class="tracks">
    <h2>Tracks</h2>
    <table-list
    type="tracks"
    filter
        [paginate]="5"
        [columns]="[
            {key: 'name'},
            {key: 'track_number'},
            {key: 'duration_ms'},
            {key: 'commentsCount'}
        ]"
        [data]="tracks | async"
    >
  </table-list>
    <!-- <pre>{{tracks | async | json}}</pre> -->
</div>
<div class="comments">
  <router-outlet></router-outlet>
</div>
