<div class="band-detail-container">
    <h1>Band Detail</h1>
    <vertical-list type="artist" [data]="artists | async">

    </vertical-list>
    <!-- <pre>{{artists | async | json}}</pre> -->
    <hr />


    <h2>Albums</h2>

    <vertical-list type="albums" [data]="albums | async">

    </vertical-list>
    <hr />
    <!-- <pre>{{albums | async | json}}</pre> -->

    <router-outlet></router-outlet>
</div>
